body{
    display:flex;
    flex-direction:column;
    background-color:#e9ecef;
    align-items:center;
}

#Header {
    background-color: #001219;
    width: 100%;
    margin:0;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1vh solid #0a9396;

}

#QuestionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 14vh;
    background-color: white;
    width:50%;
    border-radius:.5vw;
    box-shadow: 0 0 .6vw 0 rgba(0, 0, 0, 0.1);
}

#OptionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:1vh;
}

#ButtonDiv{
    display:flex;
    justify-content: space-between;
    width:80%;
    align-self: center;
    margin:1vh;
}

.quizButtonText{
    background-color:#001219;
    color:#94d2bd;
    font-family: verdana;
    font-size: 2vh;
    padding:1.5vh;
    border:.4vh solid #0a9396;
    border-radius:1vh;
    box-shadow:  0 .4vh .4vw 0 rgba(0, 0, 0, 0.2);

}

#HeaderTitle {
    color:#94d2bd;
    font-size:3vh;
    font-family:verdana;
    padding-bottom:.2vh;
}

#Question {
    color:#11151c;
    font-size:3vh;
    font-family:verdana;
    padding-bottom:.2vh;
    padding-left:3vh;
}

.option{
    padding:.5vh;
    background-color:#f7f7f7;
    color:#11151c;
    font-size:2vh;
    font-family:verdana;
    border-radius:.5vw;
    width:65%;
    padding-left:2vw;
    border:.25vh solid #ada8b6;
    margin:2vh;
}

